// COLORS
$color-midnight-green: #014E56;
$color-white:#ffffff;
$color-light-colar:#F67E7E;
$color-dark-green:#002529;
$color-deep-jungle-green:#004047;
$color-state-green:#012F34;
$color-rapture-blur:#79C8C7;